//want to modify this? 
//Run the following command in a terminal: sass --watch scss/style.scss css/style.css
//Based on these guide lines: https://sass-lang.com/guide

@font-face {
  font-family: 'alice-regular';
  src: url('../fonts/alice-regular-webfont.woff2') format('woff2'),
  url('../fonts/alice-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  padding-top: 1rem;
  position:relative;
  display: flex;
    align-items: baseline;
    justify-content: center;
    height: 100vh;
}

body { 
  background-size: cover;
  color: #fff;
  font-family: alice-regular;
  position: relative;
  background-color: #000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
   overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.quote{
  font-size:20px;
  position:relative;
  height:100vh;
}

.author{
  position: absolute;
  bottom:60px;
  left:30px;
  width:80%;
  font-size:12px;
}

.slide-down .char{
  position:relative;
  opacity:0;
  animation: slideDown 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% { bottom: 0vh; opacity:0; }
  100% { bottom: -40vh; opacity:1; }
}


@for $i from 1 through 4000 {
  .char:nth-of-type(#{$i}) {
    animation-delay: (5 * random(300)) + ms;
  }
}

h2 {
  font-size: 1.33rem;
}


@media(min-width:1500px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

